extends layout

block content
  -data = data || {}
  
  if action
    div.row
      p !{action}, !{result}

  br

  div.row
    a.btn.btn-primary(href="/trans/create") הוספה
  
  br

  include list.pug
