nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
  div.container
    a.navbar-brand(href="/") MoneySave
    button.navbar-toggler(type='button', data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon

    div.collapse.navbar-collapse#navbarResponsive
      ul.navbar-nav.ml-auto
        li.nav-item.active#summary
          a.nav-link(href="/summary") סקירה
        li.nav-item#trans
          a.nav-link(href="/trans/all") עסקות
        li.nav-item#periodic
          a.nav-link(href="/periodic/all") חודשיות
        li.nav-item#tags_navitem
          a.nav-link(href="/tags/all") תגיות
        li.nav-item#shared
          a.nav-link(href="/shared/all") הזמנות משותפות
        li.nav-item#settings
          a.nav-link(href="/settings") הגדרות
