extends layout

block headaddon
  script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js")

block main
  div.container
    div.row
      h1 Welcome to MoneySave

      canvas(id="month-spending-chart", width="800", height="450")

      script.
        new Chart(document.getElementById("month-spending-chart"), {
            type: 'doughnut',
            data: {
              labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
              datasets: [
                {
                  label: "Population (millions)",
                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                  data: [2478,5267,734,784,433]
                }
              ]
            },
            options: {
              title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
              }
            }
        });
